body {
    background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    



  
  }
h1{ color: rgb(255, 255, 255);
    font-size: 65px;
    text-shadow: black;
    text-decoration: underline;
    margin-top: 3%;
    font-family: 'Oleo Script', cursive;
}

.heading{
    justify-content: center;

}
h2{
    color: #2C3335;
    font-size:38px;
    font-weight: 700;
}
.subheading{
    justify-content: center;
    
    font-family: 'Pacifico', cursive;
    margin-top:20px;
    
}

.input{
    justify-content: center;
}
#button{
    margin-top: 15px;
    margin-left:35%;
    font-size: 30px;
}

#text{
    height: 67px;
    box-shadow: 13px 16px 13px rgba(41, 39, 39, 0.37);
    background-color: rgb(255, 246, 251);
    font-family: 'Pacifico', cursive;
    font-weight: bold;
}
.op{
    justify-content: center;
}
h3{
    color: white;
}


